/**********************
 * CUSTOM CSS
**********************/
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Apfel";
  src: url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/647ff264c56bf96b708620b3/1686106724654/ApfelGrotezk-Regular.otf")
      format("otf"),
    url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/647ff2c4b71e422673c726d9/1686106820208/ApfelGrotezk-Regular.woff2")
      format("woff2"),
    url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/647ff26da181af10b7834c2e/1686106733422/ApfelGrotezk-Regular.woff")
      format("woff");
}
main,
h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn,
p {
  font-family: "Apfel" !important;
}

@media screen and (max-width: 767px) {
  .user-items-list-carousel__slide {
    width: 80% !important;
  }
}

main
  .sections:first-child
  .page-section[data-section-id="647f8291a303445930b9cb6b"] {
  padding-top: 0 !important;
  .gallery-fullscreen-slideshow[data-show-captions="true"][data-width="full-bleed"] {
    margin-bottom: 0 !important;
  }

  .gallery-caption-fullscreen-slideshow {
    margin: 0 0 25px 0;
    bottom: 0;
    top: auto;
    color: #ffffff;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left;
    .gallery-caption p {
      font-size: 40px;
    }
  }

  .gallery-fullscreen-slideshow .gallery-fullscreen-slideshow-bullet-nav {
    justify-content: end;
    max-width: 1400px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;

    .gallery-fullscreen-slideshow-bullet {
      display: block;
      width: 35px;
      height: 5px;
      border: 0;
      border-radius: 2px;
      margin: 5px;
      padding: 0;
      background-color: #ffffff;
      &.active {
        background-color: #f0493e;
      }
    }
  }
}

.footer--btn-container {
  text-align: center;
  button {
    margin: 10px;
  }
}

/**********************
 * STICKY HEADINGS
**********************/

@media screen and (min-width: 768px) {
  /* HOME */

  // party of one
  .fe-block.fe-block-yui_3_17_2_1_1686286252003_15715 {
    position: sticky;
    top: 115px;
  }
  // illustrations
  .fe-block.fe-block-yui_3_17_2_1_1686286252003_17081,
  .fe-block.fe-block-2a43aaa92f7f4397c245 {
    position: sticky;
    top: 400px;
  }
  //text 1
  .fe-block.fe-block-yui_3_17_2_1_1686068638699_12249,
  .fe-block.fe-block-yui_3_17_2_1_1686068638699_15195 {
    position: sticky;
    top: 700px;
  }

  .fe-647f5f161d03d4536548d9dd,
  .fe-647f6c39c2275a7d8b3d048b {
    --cell-max-width: 100%;
  }

  .fe-block.fe-block-yui_3_17_2_1_1686068638699_73955 {
    position: sticky;
    top: 50px;
  }

  .fe-block.fe-block-yui_3_17_2_1_1686068638699_118810 {
    position: sticky;
    will-change: transform;
    top: 200px;
  }

  /* ABOUT PAGE */
  // studio heading
  .fe-block.fe-block-8ff84592f8a0ca2c3cd6 {
    position: sticky;
    will-change: transform;
    top: 100px;
  }
}

/**********************
 * WM TAB STYLES
**********************/

.wm-tabs-block {
  --tab-position: start; // start, center, or end
  --content-width: 100%;

  .wm-tab-button {
    padding: 0.5em 1em;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid currentColor;
    box-shadow: var(--tabs-shadow-low);
  }
  .wm-tab-button.active {
    background: white;
  }
  nav {
    padding: 17px;
    gap: 8px;
  }
  article {
    width: 100%;
    padding: 0;
  }

  nav > span {
    display: none;
  }

  @media (max-width: 767px) {
    --tab-position: start;
  }
}

/**********************
 * SCROLL MAGIC
**********************/

.activity-bar {
  background: #f6f3ec;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  padding: 3px 20px;
}

.partyheading {
  .partyheadingleft {
    position: absolute;
    left: 50%;
    transform: translateX(-75%);
  }
  .partyheadingright {
    position: absolute;
    top: 100px;
    right: 50%;
    transform: translateX(60%);
  }
}

.footer-logo {
  width: 100%;
  height: 200px;
  svg {
    width: 100%;
    height: auto;
  }
  .footer-left {
    width: 54.85%;
    height: auto;
    position: absolute;
    // transform: translateX(-100%);
    top: 0px;
  }

  .footer-right {
    width: 40%;
    height: auto;
    // transform: translateX(100%);
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.footer-trigger {
  width: 100%;
  height: 1px;
  margin-top: -500px;
  position: absolute;
}
