/**********************
 * CUSTOM CSS
**********************/
html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: "Apfel";
	src: url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/647ff264c56bf96b708620b3/1686106724654/ApfelGrotezk-Regular.otf") format("otf"), url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/647ff2c4b71e422673c726d9/1686106820208/ApfelGrotezk-Regular.woff2") format("woff2"), url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/647ff26da181af10b7834c2e/1686106733422/ApfelGrotezk-Regular.woff") format("woff");
}
main,
h1,
h2,
h3,
h4,
h5,
h6,
button,
.btn,
p {
	font-family: "Apfel" !important;
}

@media screen and (max-width: 767px) {
	.user-items-list-carousel__slide {
		width: 80% !important;
	}
}

:root {
}

@media (max-width: 767px) {
	:root {
		--tab-position: start;
		--title-betwee-gap: 20px;
		--flex-direction-desktop: row;
	}
}

.cf-arrow-black {
	width: 18px;
	height: 18px;
	margin-bottom: -2px;
	-webkit-mask: url("../s/arrow.svg") no-repeat 50% 50%;
	mask: url("../s/arrow.svg") no-repeat 50% 50%;
	-webkit-mask-size: cover;
	mask-size: cover;
	background: #000000;
}

.cf-btn-pill {
	border: 1px solid black;
	padding: 5px 30px;
	text-transform: uppercase;
	background: transparent;
	border-radius: 30px;
	position: relative;
	transition: 0.25s;
	box-shadow: 0 0 0 0 #f0493e;

	&:hover,
	&:focus,
	&.active {
		box-shadow: inset 0 -3.25em 0 0 #f0493e;
		border-color: #f0493e;
		color: #fff;
	}
}

button,
.cf-btn {
	border: 1px solid black;
	padding: 5px 30px;
	text-transform: uppercase;
	background: transparent;
	border-radius: 30px;
	position: relative;
	transition: 0.25s;
	&:hover,
	&:focus {
		border-color: #f0493e;
		color: #fff;
	}
}
.project-thumb__ctn {
	display: flex;
	gap: 0px;
	flex-flow: column !important;
	align-items: flex-start;
	margin-top: 0px;
	@media screen and (min-width: 768px) {
		flex-flow: row !important;
		gap: 20px;
		margin-bottom: 30px;
	}
}
.project-thumb__title {
	text-transform: uppercase;
	white-space: nowrap;
	font-size: var(--base-font-size);
	text-align: left;
	margin: 0 !important;
}

.project-thumb__description {
	margin-top: 0 !important;
	text-align: left;
}
/**********************
 * BUTTONS
**********************/

.sqs-button-element--tertiary {
	border: 0px;
	line-height: 1rem;
	&:hover {
		background: transparent !important;
		color: #000000 !important;
	}
	&:after {
		content: "";
		display: inline-block;
		@extend .cf-arrow-black;
		margin-left: 5px;
		transition: margin-left 0.2s ease-in-out;
	}
	&:hover {
		&:after {
			margin-left: 15px;
		}
	}
}

/**********************
 * CAROUSEL PAGINATION ARROWS
**********************/

.mobile-arrows {
	display: none !important;
}

/** wm tabs arrows **/
.sqs-gallery-design-carousel .sqs-gallery-controls {
	.next:before,
	.previous:before {
		display: none;
	}
	.next,
	.previous {
		@extend .cf-arrow-black;
		margin-left: 0px;
		&:hover {
			background: #f0493e;
		}
	}
	.previous {
		transform: scaleX(-1);
		&:hover {
			opacity: 1;
			background: #f0493e;
		}
	}
}

/**********************
 * STICKY HEADINGS ON HOME PAGE
**********************/

@media screen and (min-width: 768px) {
	// fluid container
	.fe-647f5f161d03d4536548d9dd,
	.fe-647f6c39c2275a7d8b3d048b {
		--cell-max-width: 100%;
	}

	.fe-block.fe-block-yui_3_17_2_1_1686068638699_73955 {
		position: sticky;
		top: 50px;
	}

	.fe-block.fe-block-yui_3_17_2_1_1686068638699_118810 {
		position: sticky;
		will-change: transform;
		top: 200px;
	}

	/* home - bottom project sticky */
	.fe-block.fe-block-0aa9a2c3a1e65517ab31 {
		position: sticky;
		will-change: transform;
		top: 10vmax;
	}
	/* home - bottom project sticky - btn */
	.fe-block.fe-block-b9ca2bf9069ba56df705 {
		position: sticky;
		will-change: transform;
		top: 30vmax;
	}

	/* ABOUT PAGE */
	// studio heading
	.fe-block.fe-block-8ff84592f8a0ca2c3cd6 {
		position: sticky;
		will-change: transform;
		top: 100px;
	}
}

/**********************
 * HOME FEATURE - WM TAB STYLES
**********************/

// fixed with for home //
#collection-6486ab81347a9a782032f3ae .wm-tabs-blog article > section {
	max-width: 400px !important;
	margin: 0 auto;
}
.wm-tabs-block {
	--tab-position: center; // start, center, or end
	--content-width: 100%;
	background: transparent;
	box-shadow: none;
	margin-bottom: 60px;

	.nav-background,
	.panels-background {
		background: none !important;
	}

	.wm-tab-button {
		flex-grow: 0;
		flex-shrink: 0;
		@extend .cf-btn-pill;
	}

	nav {
		padding: 0px;
		gap: 8px;
		box-shadow: none;
		margin: 60px auto 30px;
	}
	article {
		width: 100%;
		padding: 0;

		& > section {
			max-width: 100%;
			margin: 0 auto;
		}
		.summary-item-list-container {
			display: flex;
			flex-direction: column;
		}
		.summary-block-header {
			order: 2;
			margin-bottom: 60px;
			.summary-heading {
				display: none !important;
			}
		}
		.summary-item-list {
			order: 1;
			.summary-content {
				margin-top: 15px;
				display: flex;
				gap: 20px;
				align-items: flex-start;
			}

			.summary-title {
				text-transform: uppercase;
				white-space: nowrap;
				font-size: var(--base-font-size);
				text-align: left;
			}
			.summary-excerpt {
				margin-top: 0 !important;
				text-align: left;
			}
		}
		.summary-carousel-pager {
			border: 1px solid #000000;
			border-radius: 50%;
			padding: 8px;
			width: 65px !important;
		}
	}

	nav > span {
		display: none;
	}
}

/* fix height for tabs section */
.fe-6486ab81347a9a782032f3b9 {
	--row-height-scaling-factor: 0 !important;
}

/**********************
 * SCROLL MAGIC
**********************/

.activity-bar {
	background: #f6f3ec;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	padding: 3px 20px;
}

.party-trigger {
	width: 100%;
	background: red;
	height: 15vw;
	.party-left {
		position: absolute;
		left: -8vw;
		transform: translateX(-24vw);
	}

	.party-right {
		position: absolute;
		top: 6vw;
		right: -15vw;
		transform: translateX(23vw);
	}
}

.doodle-ctn {
	margin-top: 15vw;
	display: flex;
	flex-wrap: wrap;
	.doodle-right {
		margin-top: 10vh;
		flex: 0 0 auto;
		width: 33.33333333%;
		margin-left: 8.33333333%;
	}

	.doodle-left {
		margin-top: 80vh;
		flex: 0 0 auto;
		width: 33.33333333%;
		margin-left: 16.66666667%;
	}
}

.footer-logo {
	width: 100%;
	svg {
		width: 100%;
		height: auto;
	}

	.footer-left {
		width: 54.85%;
		height: auto;
		position: absolute;
		transform: translateX(-100%);
		top: 0px;
	}

	.footer-right {
		width: 40%;
		height: auto;
		/* right: -500px; */
		transform: translateX(100%);
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

/**********************
 * MENU AND SITE NAV
**********************/

/* nav shrink */
.header-title-logo img {
	transition: height 0.5s ease-in-out;
}
body.tweak-transparent-header .header.shrink {
	.header-title-logo img {
		height: 40px;
	}
}

@media screen and (min-width: 768px) {
	.header-actions.header-actions--right {
		display: none !important;
	}
}

//* if home hide home link */
#collection-6486ab81347a9a782032f3ae {
	.header-nav-item--homepage {
		display: none;
	}
}

/**********************
 * HOME - HERO SLIDESSHOW
**********************/
#collection-6486ab81347a9a782032f3ae {
	.sections:first-child .page-section:first-child {
		padding-top: 0 !important;

		.gallery-fullscreen-slideshow[data-show-captions="true"][data-width="full-bleed"] {
			margin-bottom: 0 !important;
		}

		.gallery-caption-fullscreen-slideshow {
			margin: 0 0 25px 0;
			bottom: 0;
			top: auto;
			color: #ffffff;
			max-width: 1600px;
			margin: 0 auto;
			text-align: left;

			.gallery-caption-wrapper {
				width: 40%;
				margin-right: auto;

				p {
					font-size: 34px;
					line-height: 36px;
					letter-spacing: 0;
				}
			}

			@media screen and (max-width: 1650px) {
				.gallery-caption-wrapper {
					padding-left: 6vw;
					padding-right: 6vw;
				}
			}
		}

		.gallery-fullscreen-slideshow .gallery-fullscreen-slideshow-bullet-nav {
			justify-content: end;
			max-width: 1600px;
			left: 50%;
			transform: translateX(-50%);
			bottom: 30px;
			@media screen and (max-width: 1650px) {
				max-width: 30vw;
				right: 6vw;
				left: auto;
				transform: none;
			}

			.gallery-fullscreen-slideshow-bullet {
				display: block;
				width: 35px;
				height: 4px;
				border: 0;
				border-radius: 3px;
				margin: 8px;
				padding: 0;
				background-color: #ffffff;
				@media screen and (max-width: 1650px) {
					width: 25px;
					height: 3px;
					margin: 5px;
				}
				&.active {
					background-color: #f0493e;
				}
			}
		}
	}
}

/**********************
 * HOME FEATURE CAROUSEL
**********************/
section[data-section-id="6486ab81347a9a782032f3b7"] {
	.user-items-list-carousel {
		ul.user-items-list-carousel__slides {
			padding-right: 0 !important;
			margin-bottom: 100px;
			li.user-items-list-carousel__slide.list-item {
				.list-item-content__description {
					text-align: center;
					width: 90%;
					height: 120px;
					margin-left: 5%;
					position: absolute;
					margin-top: 15px !important;
					background: none !important;
				}
				.user-items-list-carousel__media-container,
				.list-item-content__button-container {
					margin: 0 !important;
				}
				a.list-item-content__button {
					background: rgba(0, 0, 0, 0.5);
					position: absolute;
					top: 0px;
					left: 0px;
					height: 100%;
					width: 100%;
					border-radius: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0 !important;
					margin: 0 !important;
					opacity: 0;
					letter-spacing: 0.02em;
					font-size: 1rem;
					line-height: 1em;
					text-transform: uppercase !important;
					letter-spacing: 0.02rem !important;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	section[data-section-id="6486ab81347a9a782032f3b7"] {
		.user-items-list-carousel {
			ul.user-items-list-carousel__slides {
				li.user-items-list-carousel__slide.list-item {
					.list-item-content__description {
						text-align: left;
						width: 100%;
						height: auto;
						margin-left: 0px;
						position: relative;
						margin-top: 15px !important;
						background: none !important;
					}
					a.list-item-content__button {
						background: transparent;
						position: relative;
						display: block;
						opacity: 1;
						border: 0px;
						color: #000000;
						&:after {
							content: "";
							display: inline-block;
							width: 18px;
							height: 18px;
							margin-bottom: -4px;
							-webkit-mask: url("../s/arrow.svg") no-repeat 50% 50%;
							mask: url("../s/arrow.svg") no-repeat 50% 50%;
							-webkit-mask-size: cover;
							mask-size: cover;
							background: #000000;
							margin-left: 5px;
							transition: margin-left 0.2s ease-in-out;
						}
						&:hover {
							&:after {
								margin-left: 15px;
							}
						}
					}
				}
			}
		}
	}
}

/**********************
 * PROJECT THUMBNAILS
**********************/
.user-items-list-carousel {
	ul.user-items-list-carousel__slides {
		li.user-items-list-carousel__slide.list-item {
			.list-item-content {
				margin-top: 0px !important;
				.list-item-content__text-wrapper {
					@extend .project-thumb__ctn;
				}

				h2.list-item-content__title {
					@extend .project-thumb__title;
				}
				.list-item-content__description {
					@extend .project-thumb__description;
				}
			}
		}
	}
}

.sqs-gallery {
	.meta {
		margin-bottom: 40px;
	}
	.meta-inside {
		@extend .project-thumb__ctn;
		h3.meta-title {
			@extend .project-thumb__title;
		}
		.meta-description {
			@extend .project-thumb__description;
		}
	}
}

/**********************
 * PROJECT PAGE
**********************/

section.blog-item-summary {
	@extend .project-thumb__ctn;
	h1.blog-title {
		@extend .project-thumb__title;
	}
	.blog-excerpt {
		@extend .project-thumb__description;
		.blog-excerpt-wrapper p {
			margin: 0px !important;
			padding: 0px;
		}
	}
}

.blog-meta-section {
	position: absolute;
	top: 15px;
	right: 15px;
	.blog-categories-list {
		a {
			@extend .cf-btn;
			color: #ffffff !important;
		}
	}
}

/**********************
 * LOGO SCROLLING
**********************/

.logo-slider {
	width: 100%;
	overflow: hidden;
	.logos-img {
		background-image: url("https://static1.squarespace.com/static/647f5d01fac7cd217e93e092/t/64b8c7262f29aa450ee110b6/1689831207015/logos-long.png");
		width: auto;
		height: 60px;
		background-size: 1923px 60px;
		animation: logoslide 120s linear infinite;
	}
}

@keyframes logoslide {
	from {
		background-position-x: 0;
	}
	to {
		background-position-x: -1923px;
	}
}

/**********************
 * FOOTER
**********************/

.footer--btn-container {
	text-align: center;
	button {
		margin: 10px;
	}
}

/**********************
 * MOBILE
**********************/
//@media screen and (max-width: 767px) and (hover: none) {

@media screen and (max-width: 767px) {
	.user-items-list-carousel {
		ul.user-items-list-carousel__slides {
			li.user-items-list-carousel__slide.list-item {
				.list-item-content__description {
					position: relative;
					width: 100%;
					height: auto;
					margin-left: 0px;
					margin-top: 15px !important;
				}
				.user-items-list-carousel__media-container,
				.list-item-content__button-container {
					margin: 0 !important;
				}
				a.list-item-content__button {
					position: relative;
					top: 0px;
					left: 0px;
					height: auto;
					width: auto;
					border-radius: auto;
					display: block;
					opacity: 1;
					font-size: 20px !important;
					line-height: 20px !important;
					text-transform: uppercase !important;
					letter-spacing: 0.02rem !important;
					&:hover {
						background: black;
					}
				}
			}
		}
	}

	.user-items-list-carousel {
		ul.user-items-list-carousel__slides {
			li.user-items-list-carousel__slide.list-item {
				.list-item-content {
					.list-item-content__text-wrapper {
						display: relative;
					}
				}
			}
		}
	}
}
